@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #FFC37D;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

.highlight {
  font-size: 24px;
}

.header {
  position: relative;
  height: 150vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logotext {
  position: fixed;
  width: 680px;
  top: 44px;
  z-index: 2;
  transition: all 0.5s ease;
}

.start-image {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: all 0.5s ease;
}

.header-title {
  position: fixed;
  color: #FFFFFF;
  background-color: #FF5136;
  padding: 8px 40px;
  border-radius: 100px;
  top: 268px;
  z-index: 2;
  transition: all 0.5s ease;
}
.header-title h1 {
  margin: 0px;
}

.category-wrapper {
  position: fixed;
  top: 371px;
  width: 1196px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.category-container {
  gap: 8px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.category-container h5 {
  margin: 0px;
}

.category-title {
  color: #007FAB;
}

.category-group {
  gap: 12px;
  background-color: #007FAB;
  padding: 4px 28px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.category-group h5 {
  margin: 0px;
  line-height: 33px;
}

.category-subtitle {
  color: #FFFFFF;
}

.left-cloud {
  position: fixed;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
}

.right-cloud {
  position: fixed;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
}

.state-light {
  position: fixed;
  top: 50%;
  right: 0px;
  z-index: 2;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.profile-image {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 4;
}

.side-nav {
  width: 155px;
  height: 100vh;
  padding-top: 40px;
  background-color: #007FAB;
  position: fixed;
  z-index: 4;
  gap: 40px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-nav .nav-item {
  color: #FFC37D;
  text-decoration: none;
  line-height: 28px;
  gap: 4px;
  display: block;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btn {
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 4;
  background: transparent;
  border: none;
  padding: 0px;
  transition: 0.5s;
}

.section-title {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.section-subtitle {
  position: fixed;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  margin: 0px;
  color: #A46039;
}

.questions-wrapper {
  width: 1440px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.questions-wrapper .question {
  position: relative;
  transition: all 0.5s ease;
}

.buttons-wrapper {
  width: 1196px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons-wrapper .buttons {
  position: relative;
  transition: all 0.5s ease;
}

.main {
  position: relative;
  background-color: #FFC37D;
  height: 400vh;
}

.animation-wrapper {
  position: fixed;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  transform-origin: 0% 100%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.animation-wrapper .animation-image {
  object-fit: contain;
  width: 270px;
}
.animation-wrapper .animation-image:nth-child(2n-1) {
  width: 250px;
}

.logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 200px;
  transition: all 0.5s ease;
}

.road-image {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transform-origin: 0% 100%;
  transition: all 0.5s ease;
}

.join-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}
.join-btn-wrapper h5 {
  margin-top: 0px;
  margin-bottom: 8px;
}

.join-btn {
  width: 103px;
}

.join-hand-btn {
  width: 57px;
  position: relative;
  bottom: 0px;
  animation: floatmove infinite 0.4s;
}

@keyframes floatmove {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 6px;
  }
  100% {
    bottom: 0px;
  }
}
.map-wrapper {
  position: fixed;
  left: 30px;
  bottom: 20px;
}

.map {
  width: 260px;
  height: 170px;
}

.map-now {
  position: absolute;
  left: 2px;
  top: 53px;
  width: 31px;
  height: 31px;
  transition: all 1s ease;
}

.map-state-one {
  left: 45px;
  top: 3px;
}

.primiary-tx-color {
  color: #007FAB;
}

/*# sourceMappingURL=style.css.map */
