.main {
    position: relative;
    background-color: $secondary;
    height: 300vh;
}

.animation-wrapper {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @include flex-justify(row, space-between);
    .animation-image {
        object-fit:contain;
        width: 270px;
        &:nth-child(2n-1) {
            width: 250px;
        }
    }
}

.logo {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 200px;
    transition: all 0.5s ease;
}

.road-image {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.join-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    h5 {
        margin-top: 0px;
        margin-bottom: 8px;
    }
}

.join-btn {
    width: 103px;
}

.join-hand-btn {
    width: 57px;
    position: relative;
    bottom: 0px;
    animation: floatmove infinite .4s; 
}

@keyframes floatmove {
    0%{
        bottom: 0px;
    }
    25% {
        bottom: 6px;
    }
    100%{
        bottom: 0px;
    }
}

.map-wrapper {
    position: fixed;
    left: 30px;
    bottom: 20px;
}

.map {
    width: 260px;
    height: 170px;
}

.map-now {
    position: absolute;
    left: 2px;
    top: 53px;
    width: 31px;
    height: 31px;
    transition: all 1s ease;
}

.map-state-one {
    left: 45px;
    top: 3px;
}