h1 {
    font-size: 32px;
}
  
h2 {
    font-size: 60px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 32px;
}
  
h5 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.highlight {
    font-size: 24px;
}